*,
*::after *::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.page_background {
  width: 1366px;
  height: 770px;
  background-image: url(../images/Background.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin: 0px;
  position: relative;
}

.nav_bar {
  width: 1366px;
  height: 58px;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.company_logo_link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
  margin-left: 79px;
  /* margin-top: 18px; */
  line-height: 22px;
  margin-right: 704px;
  width: 157px;
  height: 22px;
  transition: 0.5s;
}

.company_logo_link:hover {
  color: #01813f;
}

.header_icon {
  margin-right: 25px;
}

.header_icon:hover path {
  transition: 0.5s;
  fill: #01813f;
}

.authorization_section {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 14px;
}

.authorization_link {
  text-decoration: none;
}

.authorization_link:visited {
  color: #ffffff;
}

.authorization_link:hover {
  transition: 0.5s;
  color: #01813f;
}

.authorization_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: ;
  position: absolute;
  width: 444px;
  height: 584px;
  background: #ffffff;
}

.form_header {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-between;
  align-content: flex-start;
}

.form_sign_up {
  font-family: "Ubuntu", sans-serif;
  color: #434343;
  font-size: 20px;

  margin-top: 31px;
}

.form_log_in {
  margin-top: 33px;
  font-family: "Ubuntu", sans-serif;
  color: #3cb878;
  font-size: 14px;
  text-decoration: none transparent;
  transition: 1s;
}

.form_log_in:hover {
  /* transition: 0.5s; */
  text-decoration: underline #01813f;
  color: #01813f;
}

.form_sign_up::before {
  content: url(../images/shape.png);
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
}

.social_networks_authorization {
  margin-top: 15px;
  margin-left: 58px;
  margin-right: 58px;
  box-sizing: border-box;
  display: flex;
}

.facebook,
.google {
  width: 160px;
  height: 48px;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
}

.facebook {
  display: flex;
  margin-right: 4px;
  box-sizing: border-box;
  background: #305db8;
  border: #305db8;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.facebook:hover {
  background: #022263;
}

.facebook_line {
  margin-right: 22px;
}

.facebook_line::before {
  content: "";
  background: #0a162f;
  width: 2px;
  height: 28px;
  opacity: 0.1;
  position: absolute;
  left: 48px;
  bottom: 10px;
}

.facebook_icon {
  margin-left: 16px;
  margin-right: 37.77px;
}

.google {
  background: #df4a32;
  border: #df4a32;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.google:hover {
  background: #ab1f09;
}

/* gogle_line is a vertical line */
.google_line {
  margin-right: 26px;
}
.google_line::before {
  content: "";
  background: #0a162f;
  width: 2px;
  height: 28px;
  opacity: 0.1;
  position: absolute;
  left: 49px;
  bottom: 10px;
}

.google_icon {
  margin-left: 12px;
}

.authorization_inputs {
  width: 324px;
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-top: 17px;
  margin-left: 60px;

  padding: 0px;
  box-sizing: border-box;
}

.inputs {
  width: 324px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: none;
  border-top: 1px solid #f2f2f2;
  margin: 0px;
}
#name,
#last_name,
#email,
#password,
#confirm_password {
  width: 322px;
  margin-top: 16px;
  border-radius: 4px;
  background: #ffffff;
  height: 44.08px;
  border: 1px solid #f2f2f2;
  padding-left: 20px;
}

input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  background: red;
  outline: 1px solid #f2f2f2;
}

.authorization_inputs_header {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #848484;
  font-size: 14px;
}

#agreement {
  display: flex;
}
.agreement_legend {
  display: flex;
  margin-left: 5px;
}

::placeholder {
  font-family: "Ubuntu", sans-serif;
  color: #bebebe;
  font-size: 14px;
  margin-left: 20px;
  transition: 0.5s;
}

.agreement {
  display: flex;
  margin-top: 12px;
  font-family: "Ubuntu", sans-serif;
  color: #434343;
  font-size: 14px;
}

.agreemnt_link {
  font-family: "Ubuntu", sans-serif;
  color: #3cb878;
  font-size: 14px;
  text-decoration: none transparent;
  transition: 1s;
}

.agreemnt_link:hover {
  text-decoration: underline #01813f;
  color: #01813f;
}

#agreement_checkbox {
  width: 14px;
  height: 13.5px;
  border: 5px solid #3cb878;
  background: none;
}

.create_account_button {
  font-family: "Ubuntu", sans-serif;
  color: #3cb878;
  font-size: 16px;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  width: 324px;
  height: 46px;
  border: 1px solid rgba(60, 184, 120, 0.8);
  margin-top: 20px;
}

.create_account_button:hover {
  background: #01813f;
  border-radius: 4px;
  transition: 0.5s;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 0.5em;
  background-position: center center;
}

.custom-checkbox:checked + label::before {
  border-color: #f2f2f2;
  background-image: url(../images/Vector\ 1.svg);
  background-size: 14px 13.5px;
  background-repeat: no-repeat;
}
