.banners_list {
  list-style: none;
  padding-left: 0px;
  width: 500px;
  border: 4px solid blue;
}

.image {
  display: none;
  width: 500px;
  height: 300px;
  padding-left: 0px;
}

.stop_btn {
  background-color: red;
  width: 200px;
}

.start_btn {
  background-color: green;
  width: 200px;
}

.image_visible {
  display: block;
  padding-left: 0px;
}
.btn_container {
  width: 504px;

  display: flex;
  justify-content: space-between;
}

#timer {
  background-color: blueviolet;
}
