.banners_list {
  list-style: none;
  padding-left: 0px;
  width: 500px;
  border: 4px solid blue;
}

.image {
  display: none;
  width: 500px;
  height: 300px;
  padding-left: 0px;
}

.stop_btn {
  background-color: red;
  width: 200px;
}

.start_btn {
  background-color: green;
  width: 200px;
}

.image_visible {
  display: block;
  padding-left: 0px;
}
.btn_container {
  width: 504px;

  display: flex;
  justify-content: space-between;
}

.skin_management_btn_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 504px;
  height: 100px;
  top: 200px;
  left: 30%;
}

#set_skin_btn {
  background-color: yellow;
  border: 2px solid yellowgreen;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 50px;
}
#set_skin_btn:hover {
  background-color: yellowgreen;
}

#disable_skin_btn {
  background-color: red;
}

.toggle_skin {
  background-color: blueviolet;
}
