@import '../abstracts/variables';
@import '../abstracts/mixins';

.footer {
    padding-top: 12vw;
    padding-bottom: 12vw;
    color: #FEFEFE;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media  (min-width:$tablet-bp) {
        padding-top: 7.4vw;
        padding-bottom: 7.4vw;
    }
    @media  (min-width:$desktop-bp) {
        padding-top: 5.5vw;
        padding-bottom: 5.5vw;
    }
        
}

.footer__get-in-touch_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.footer__get-in-touch {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 2.5vw ;
    @media  (min-width:$tablet-bp) {
        font-size: 16px;
        padding-bottom: 2.86vw ;
    }
    @media  (min-width:$desktop-bp) {
        font-size: 16px; 
        padding-bottom: 1.83vw ;
    }
        
}

.footer__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding-left: 11vw;
    padding-right: 11vw;
    text-align: center;
    color: #B9B9B9;
    @media  (min-width:$tablet-bp) {
        font-size: 16px;
    }
    @media  (min-width:$desktop-bp) {
        font-size: 16px; 
    }
        
}

.icons-list {
    display: flex;
    margin-top: 26px;
}

.icons-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 30px;
    width: 34px;
    height: 34px;
    margin-right: 6px;
}

.icons-list__item_rss {
    border: 2px solid #F8902E; 
}
.icons-list__item_fb {
    border: 2px solid #39599F;
}
.icons-list__item_twitt {
    border: 2px solid #45B0E3;
}
.icons-list__item_dribble {
    border: 2px solid #D97AB0;
}
.icons-list__item_pint {
    border: 2px solid #CC212C;
}

.footer__contact-details {
    margin-top: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 18vw;
    padding-right: 18vw;
    text-align: center;
    color: #B9B9B9;
    @media  (min-width:$tablet-bp) {
        font-size: 16px;
    }
    @media  (min-width:$desktop-bp) {
        font-size: 16px; 
    }
}

