@import '../components/buttons';
@import '../abstracts/variables';
@import '../abstracts/mixins';

.header {
    display: flex;
    @include position;
    margin-top: 23px;
    justify-content: flex-end;

}

.header__buttons-wrapper {
    position: relative;
    display: flex;
    position: relative;
    @media (min-width: $tablet-bp) {
        display: none;
    }
    @media (min-width: $desktop-bp) {
        display: none;
    }

}

.navigation__items-list {
padding-left: 10.93vw ;
padding-right: 9.77vw;
width: 100%;
display: none;
justify-content: space-between;
text-transform: uppercase;
    @media (min-width:$tablet-bp) {
        display: flex;
    }
    @media (min-width:$desktop-bp) {
        display: flex;
    }
}


.navigation__item {
    list-style: none;
    font-size: 11px;
}

.navigation__link {
    text-decoration: none;
    color: black;
}

.drop-menu {
    box-shadow: #4E4E4E;
    position: absolute;
    top: 60px;
    height: 55vw;
    width: 46vw;
    background-color: #F5F5F5;
    @media (min-width:$tablet-bp) {
        display: none;
    }
    @media (min-width:$desktop-bp) {
        display: none;
    }
}

.drop-menu__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    
}
.drop-menu__item {
    display: flex;
    height: calc(100%/7);
    padding-left: 13px;
    list-style: none;
    align-items: center;
    &:hover {
    background-color:  #E5E5E5;;
    }

}

.drop-menu__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 11px;
    color: #4E4E4E;
    text-transform: uppercase;

}

.drop-menu_not-active {
    display: none;
}