@import '../abstracts/variables';
@import '../abstracts/mixins';


.instagram {
    padding-top: 47px;
    padding-bottom: 50px;
    width: 100%;
    background-color: transparent;
    
    @media  (min-width:$tablet-bp) {
        background-color: lightgray;
    
    }
    @media  (min-width:$desktop-bp) {
        font-size: 16px;
    }
        
}

.instagram-header {
    @include position;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4E4E4E;
}

.instagram__last-shot {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    @media  (min-width:$tablet-bp) {
        font-size: 16px;
    }
    @media  (min-width:$desktop-bp) {
        font-size: 16px;
    }
        
}

.instagram__link {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: none;
    @media  (min-width:$tablet-bp) {
        font-size: 16px;
        display: block;
    }
    @media  (min-width:$desktop-bp) {
        font-size: 16px;
        display: block;
    }
        
}
.instagram-picture1 {
    grid-area: instagram_picture1;
        
}

.instagram-picture2 {
    display: none;
    grid-area: instagram_picture2;
    @media  (min-width:$tablet-bp) {
      display: block;
    
    }
    @media  (min-width:$desktop-bp) {
        display: block;
    }
        
}

.instagram-picture3 {
    display: none;
    grid-area: instagram_picture3;
    @media  (min-width:$tablet-bp) {
        display: block;
      
      }
      @media  (min-width:$desktop-bp) {
          display: block;
      }
          
}

.instagram-picture4 {
    display: none;
    grid-area: instagram_picture4;
    @media  (min-width:$tablet-bp) {
        display: none;
      
      }
      @media  (min-width:$desktop-bp) {
          display: block;
      }
}


.instagram-pictures__wrapper {
    @include position;
    display: grid;
    margin-top: 15px;
    // grid-template-columns: 1fr;
    grid-template-areas: 
    "instagram_picture1";

    @media  (min-width:$tablet-bp) {
        font-size: 16px;
        column-gap: 9px;
        grid-template-areas: 
        "instagram_picture1 instagram_picture2 instagram_picture3";
       
    
    }
    @media  (min-width:$desktop-bp) {
        font-size: 16px;
        grid-template-areas: 
        "instagram_picture1 instagram_picture2 instagram_picture3 instagram_picture4";
    }
        
}

.instagram_image {
    width: 72vw;
    height: 72vw;
    @media  (min-width:$tablet-bp) {
        width: 27vw;
        height: 27vw;
    
    }
    @media  (min-width:$desktop-bp) {
        width: 20vw;
        height: 20vw;
    }
        


    

}