@import '../abstracts/variables';
@import '../abstracts/mixins';


.intro-image-container {
    display: flex;
    margin-top: 23px;
    width: 100vw;

    @media  (min-width:$tablet-bp) {
        margin-top: 43px;
    }
    @media  (min-width:$desktop-bp) {
        margin-top: 51px;
    }
    }
    
.intro-image-container_image {
    @include position;
    max-height: 46.74vw;
    @media  (min-width:$tablet-bp) {
        width: 100vw;
        height: 47vw;
    }
    @media  (min-width:$desktop-bp) {
        width: 100vw;
        height: 47vw;
    }
        

}