@import '../abstracts/variables';
@import '../abstracts/mixins';



.recent-posts__header {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #4E4E4E;;
    @media (min-width:$tablet-bp) {
        font-size: 16px;
    }
    @media (min-width:$desktop-bp) {
        font-size: 16px;
    }
}

.recent-posts {
    color: #4E4E4E;
    @include position;
    margin-top: 38px;
    
    
}

.recent-posts__wrapper{
    display: grid;
   
    @media (min-width:$tablet-bp) {
        width: 60vw;
       
    }
    @media (min-width:$desktop-bp) {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
   
}

.recent-posts__item {
    margin-bottom: 28.5px;
}

.recent-posts__image {
    width: 160px;
    height: 140px;
}
.recent-posts__wrap-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    @media  (min-width:$tablet-bp) {
        flex-direction: row;
       
    }
    @media  (min-width:$desktop-bp) {
        flex-direction: row;
        
    }


}

.recent-posts__text {
    
    @media  (min-width:$tablet-bp) {
        margin-left: 21px;
       
    }
    @media  (min-width:$desktop-bp) {
        margin-left: 21px;
        
    }
}

.recent-posts__label{
    margin-top: 11px;
    line-height: 30px;
    font-weight: 700;
    font-size: 14px;
    @media  (min-width:$tablet-bp) {
        margin-top: 0px;
        font-size: 16px;
       
    }
    @media  (min-width:$desktop-bp) {
        margin-top: 0px;
        font-size: 16px;
        
    }

}

.recent-posts__comments{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    @media  (min-width:$tablet-bp) {
        font-size: 16px;
       
    }
    @media  (min-width:$desktop-bp) {
        font-size: 16px;
        
    }

}

.recent-post__some_text {
    display: none;
    margin-top: 13px;

    @media  (min-width:$tablet-bp) {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
   
}
    @media  (min-width:$desktop-bp) {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;     

    }   

 
}

