.darkBG {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 39vw;
  height: 40vh;
  background: rgb(240, 51, 51);
  color: rgb(240, 51, 51);
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalBlue {
  width: 39vw;
  height: 40vh;
  background: rgb(81, 44, 243);
  color: rgb(240, 51, 51);
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  position: relative;
  background: rgb(190, 34, 34);
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modalHeaderBlue {
  height: 50px;
  position: relative;

  background: rgb(63, 34, 192);
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 24px;
  color: white;
  text-align: center;
  align-content: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border: none;
  font-size: px;
  color: white;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 25%;
  align-self: flex-end;
}

.deleteBtn {
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: rgb(151, 26, 26);
  transition: all 0.25s ease;
  &:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
  }
}

.deleteBtnBlue {
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: rgb(63, 34, 192);
  transition: all 0.25s ease;
  &:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: rgb(73, 46, 197);
  }
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: rgb(151, 26, 26);
  transition: all 0.25s ease;
  &:hover {
    box-shadow: none;
    transform: translateY(-5px);
    background: #ff3e4e;
  }
}

.cancelBtnBlue {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: rgb(63, 34, 192);
  transition: all 0.25s ease;
  &:hover {
    box-shadow: none;
    transform: translateY(-5px);
    background: rgb(73, 46, 197);
  }
}
