*,
*::after *::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
}

a {
  text-decoration: none;
}

.navigation {
  list-style-type: none;
}

.navigation_bar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.navigation_bar_box {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: 330px;
  right: 330px;
}

.navigation_link {
  color: #ff0000;
  display: block;
  padding: 25.5px 36px;
}

/* Link "Download" with different padding */

.navigation_link_download {
  color: #ff0000;
  display: block;
  padding: 25.5px 14px;
}

.paragraph_title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  line-height: 100%;
  margin-top: 49px;
  margin-bottom: 38px;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: 789px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1145;
}

.paragraph_one {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #373737;
  text-align: center;
  margin-left: 68px;
  margin-right: 68px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragraph_two {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #373737;
  margin-top: 28px;
  margin-bottom: 66px;
  margin-left: 68px;
  margin-right: 68px;
}

.button {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  width: 191px;
  height: 51px;
  background-color: #ff0000;
  padding: 18px 43px;
  text-align: center;
  border-radius: 4px;
  display: block;
  margin: auto;
  border: none;
}

.copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-top: 82px;
  padding-bottom: 29px;
  text-align: right;
  padding-right: 105px;
  margin: auto;
}

/* Align picture to the center and no side margins */
