*,
*::after *::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
  /* min-width: 1366px;
  min-height: 768px; */
  /* width: 100%;
  height: 100%; */

  /* margin-left: auto;
  margin-right: auto; */
}

a {
  text-decoration: none;
}

.main_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  /* min-width: 1366px;
  min-height: 768px; */
  /* width: 1366px;
  height: 768px; */
  box-sizing: border-box;
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;

  padding-top: 46px;
}

.header {
  width: 1028px;
  height: 61px;
  /* border: 1px solid red; */
  margin: 0px 177px 17px 161px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.logo_link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-image: url(../images/logo3.png);
  width: 53px;
  height: 47px;
  /* transition: 0.5s; */
}

.logo_unit:hover .logo_text {
  /* transition: 0.5s; */
  color: #f26522;
}

.logo_unit:hover .logo_link {
  /* transition: 0.5s; */
  color: #f26522;
  background-image: url(../images/logo2_orange.png);
}

.logo_text {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-left: 8px;
  color: #ffffff;
  /* transition: 0.5s; */
}

.logo_text1 {
  font-weight: bold;
  font-size: 29px;
  margin: 0px;
  line-height: 29px;
}

.logo_text2 {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
}

.logo_unit {
  margin: 0px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-left: 8px;
  color: #ffffff;
  display: flex;
}

.logo_unit:visited {
  color: #ffffff;
}

.logo_link:visited {
  color: #ffffff;
}

.contact_details {
  font-family: "Roboto", sans-serif;
  height: 63px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.email_link {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  justify-self: flex-end;
  padding-top: 5px;
  transition: 0.5s;
}

.email_link:hover {
  color: #f26522;
}

.contact_phone {
  margin: 0px;
  padding-bottom: 5px;
  transition: 0.5s;
}

.contact_phone:hover {
  color: #f26522;
  back
}

.main_section {
  width: 1030px;
  height: 560px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* margin-left: 159px; */
  row-gap: 37px;
  column-gap: 61px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.item {
  position: relative;
}

.item_description {
  transition: 0.5s;
}
.item_description:hover {
  color: #f26522;
}
.item_description {
  position: relative;
  z-index: 2;
}

.item_description:visited {
  color: #ffffff;
}
.price_tag {
  width: 300px;
  height: 55px;
  position: absolute;
  top: 220px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  transition: 2s;
  background-color: #f26522;
  opacity: 0;
  margin-left: 2px;
  z-index: 1;
}

.item_hover:hover + .price_tag {
  opacity: 1;
  background-color: #f26522;
  transform: translateY(-55px);
}

.price {
  text-align: left;
  margin-left: 16px;
}
.price_start {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  align-self: flex-start;
  margin-top: 7px;
}

.parice_amount {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 12px;
  margin-top: 8px;
  /* margin-top: 8px; */
}

.details_link {
  text-decoration: none;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-top: 29px;
  margin-bottom: 12px;
  /* margin-right: 37px; */
  margin-left: 128px;
}

.details_link::after {
  content: " >";
  color: #ffffff;
  padding-left: 16px;
  padding-right: 14px;
}

.item_link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.item_link:visited {
  color: #ffffff;
}

.item_description {
  margin-top: 20px;
  margin-bottom: 0px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: #ffffff;
  margin-top: 49px;
  text-align: center;
}
