* {
  box-sizing: border-box;
  margin: 0;
}

.card {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  border: 2px solid blueviolet;
  border-radius: 5px;
  padding: 20px;
  margin: 30px;
  width: 40%;
}

.user-name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.e-mail {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

.card__header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 15px;
  font-size: 15px;
}

.card__text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 20px;
  margin-top: 20px;
}

.btn-delete {
  margin-top: 30px;
  width: fit-content;
  position: relative;
  border-radius: 5px;
  background-color: azure;
  padding: 5px;
}
