.user-ip {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 30%;
  border: 1px solid blueviolet;
  width: 30%;
  padding: 10px;
  margin-top: 100px;
}

p {
  border: 1px solid violet;
  text-align: center;
  padding: 10px;
}
.show-address {
  border: none;
}

button {
  margin-top: 20px;
  padding: 10px;
}
