*,
*::after *::before {
  box-sizing: border-box;
}

*:hover {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  min-height: 100vh;
  min-width: 1200px;
}

.main_welcome_block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(../img/Sectionsbackground/section-1\(header\).jpg);
  background-attachment: fixed;
}

.header {
  display: flex;
  align-items: center;
  height: 6.25vw;
  width: 100%;
  background: rgba(94, 93, 88, 0.6);
}

.logo_container {
  display: block;
}

.logo_link {
  text-decoration: none;
  margin-left: 20%;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../img/img/Polygon\ 1\ resize.png");
  width: 41px;
  height: 47px;
  border: none;
}

.logo_letter {
  position: relative;
  left: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.logo_text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.66vw;
  font-weight: 400;
  color: #ffffff;
  margin-left: 6px;
}

.logo_text_link {
  text-decoration: none;
}
.ham_highlit {
  font-weight: 900;
  color: #18cfab;
}

.menu_links {
  display: flex;
  list-style: none;
  margin: 0px;
  padding-left: 0px;
  width: 66%;
  margin-right: 20%;
  margin-left: 16%;
}

.menu_link {
  position: relative;
}
.menu_link_text {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.83vw;
  margin-right: 1vw;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.menu_link_text:hover {
  color: #18cfab;
}

.menu_link_text:hover::after {
  content: "";
  /* color: #18cfab; */
  position: absolute;
  width: 100%;
  border-bottom: 3px solid #18cfab;
  top: 3.38vw;
  left: 0;
  color: #18cfab;
}

.search_link {
  margin-left: 1vw;
}

.main_ham_presentation_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  width: 41%;
  height: 21.04%;
  margin-top: 13.75%;
}

.what_is_ham {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.82vw;
  margin: 0px;
  color: #d4d4d4;
  line-height: 1.82vw;
}

.wordpress_highlith {
  text-transform: uppercase;
  color: #18cfab;
}

.what_we_are {
  text-transform: uppercase;
  /* font-family: "Montserrat", sans-serif; */
  text-align: center;
  font-size: 4.06vw;
  line-height: 4.06vw;
}

.motivation_to_buy {
  font-weight: 400;
  text-align: center;
  font-size: 1.7vw;
  line-height: 1.77vw;
  color: #d4d4d4;
}

.top_screen_btns {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 19vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8vw;
  text-decoration: none;
  margin-top: 6.71vw;
}

.header_block_link_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 8.8vw;
  height: 6.22vh;
  background-color: #18cfab;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
}

.header_block_link_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 8.8vw;
  height: 6.22vh;
  text-decoration: none;
  background-color: #00cbf6;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
}

.header_block_link_1::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0.26vw;
  width: 8.8vw;
  height: 6.22vh;
  background-color: #fff;
  border-radius: 3px;
}
.header_block_link_2::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0.26vw;
  width: 8.8vw;
  height: 6.22vh;
  background-color: #fff;
  border-radius: 3px;
}

.features_menu {
  display: flex;
  padding: 0.52vw 0px;
  width: 100%;
}

.features_menu li:nth-child(odd) {
  list-style: none;
  width: 100%;
  height: 19.63vw;
  background-color: rgba(28, 42, 51, 1);
  color: #18cfab;
}

.features_menu li:nth-child(even) {
  list-style: none;
  width: 100%;
  height: 19.63vw;
  background-color: rgba(24, 207, 171, 1);
  color: #ffffff;
}

.feature {
  display: flex;
  align-items: center;
}

.feature_link {
  display: flex;
  flex-direction: column;
  height: 10.95vw;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: inherit;
}

.section_tabs_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60.41vw;
  margin-top: 4.32vw;
  margin-left: auto;
  margin-right: auto;
}
.section_header {
  display: flex;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.875vw;
  color: #4e4e4e;
  text-align: center;
}

.section_header::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  left: calc(50% - 44px);
  top: 3.4375vw;
  /* left: 3.67vw; */
}

.section_header::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  top: 3.74vw;
  left: calc(50% - 33px);
}

.services_menu_list {
  display: flex;
  justify-content: center;
  margin-top: 5.26vw;
  width: 60.41vw;
}

.service_menu_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 10.15vw;
  height: 3.95vw;
  list-style: none;
  background: #f8fcfe;
  border: 1.5px solid #edefef;
  margin: 0 0.104vw;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #717171;
}

.service_menu_list_item:hover {
  border: 1.5px solid #18cfab;
}

.active_service_tab {
  position: relative;
  background-color: #18cfab;
  color: #ffffff;
  border: none;
  border: 1.5px solid #18cfab;
}

.active_service_tab::before {
  content: "";
  position: absolute;
  background-color: #18cfab;
  color: #ffffff;
  width: 1.2vw;
  height: 1.2vw;
  top: 3vw;
  z-index: -1;
  transform-origin: center;
  transform: rotate(45deg);
}

.services_description_paragraphs {
  color: #777777;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 13.645px;
  width: 60.41vw;
  width: inherit;
  margin-top: 1.4vw;
  text-align: justify;
}
.service_description {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  display: none;
}

.service_paragraphs_active {
  display: flex;
}

.services_img {
  width: 10vw;
  height: 7.23vw;
  margin-right: 0.78vw;
}

.buy_and_install_section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../img/Sectionsbackground/section-2.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #18cfab;
  width: 100%;
  height: 24.8vw;
  margin-top: 4.74vw;
}

.buy_and_install_section::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: #000000;
  opacity: 0.78;
  mix-blend-mode: normal;
}
.buy_install {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.08vw;
  line-height: 4.06vw;
  z-index: 1;
  margin-top: 6.61vw;
}

.portfolio_descr {
  font-weight: 400;
  text-align: center;
  font-size: 0.83vw;
  line-height: 1.77vw;
  color: #d8d8d8;
  z-index: 1;
}

.buy_install_btn {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 8.8vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8vw;
  text-decoration: none;
  margin-top: 3.48vw;
  margin-left: auto;
  margin-right: auto;
}

.buy_install_btn_link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 8.8vw;
  height: 6.22vh;
  background-color: #18cfab;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
}

.buy_install_btn_link::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0.26vw;
  width: 8.8vw;
  height: 6.22vh;
  background-color: #fff;
  border-radius: 3px;
}

.list_of_works {
  display: flex;
  justify-content: center;
  margin-top: 5.26vw;
  width: 40.31vw;
  background: rgba(0, 0, 0, 0.0001);
}

.works_list_item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  height: 3.95vw;
  list-style: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.73vw;
  color: #717171;
  border: 1px solid #dadada;
  box-sizing: border-box;
}

.works_list_item:hover {
  border: 2px solid #18cfab;
  box-sizing: border-box;
}

.work_list_active {
  border: 2px solid #18cfab;
  box-sizing: border-box;
}
.amazing_work_images {
  transition-property: width;
  transition-duration: 10s;
  transition-timing-function: ease-out;
  width: 14.84vw;
  height: 10.99vw;
  display: none;
}

.all_works_images {
  display: flex;
  flex-wrap: wrap;
  width: 59.375vw;
  margin: 0 auto;
  margin-top: 4.375vw;
  list-style: none;
}

.amazing_works_section {
  background: #e9edef;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.16vw;
}
.amazing_work_tabs {
  background: rgba(0, 0, 0, 0.0001);
}

.active {
  display: flex;
  transition-property: width;
  transition-duration: 10s;
  /* transition-timing-function: ease-out; */
  /* width: 17vw; */
}

.load_more_btn {
  display: flex;
  /* justify-content: space-between; */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8vw;
  margin-top: 3.48vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.16vw;
  align-items: center;
  justify-content: center;
  width: 8.8vw;
  height: 6.22vh;
  background-color: #18cfab;
  border-radius: 5px;
  /* text-align: center; */
  color: #ffffff;
  cursor: pointer;
}

.plus_symbol {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8vw;
}

.loadMoreBtn_hide {
  display: none;
}

.breaking_news_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.27vw;
  font-family: "Montserrat";
  width: 60.42vw;
  height: 39vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.72vw;
}

.header_breaking_news {
  background-color: #ffffff;
  margin-bottom: 5.2vw;
}

.breaking_news {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  width: 60.42vw;
  height: 33.54vw;
}

.news_tag {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0px;
  margin-bottom: 2.29vw;
}
.breaking_news_icon {
  width: 13.7vw;
  height: 10.8vw;
}

.news_link {
  display: flex;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.94vw;
  line-height: 2.03vw;

  color: #717171;
  padding-left: 0.51vw;
}

.news_link:hover {
  color: #18cfab;
}

.comments {
  font-style: normal;
  font-weight: 300;
  font-size: 0.73vw;
  line-height: 2.03vw;
  display: flex;
  align-items: center;
  text-align: center;
}

.comment {
  text-decoration: none;
  color: #777777;
  padding-left: 0.51vw;
}

.breaking_news_date {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
  width: 3.64vw;
  height: 3.54vw;
  font-weight: 400;
  font-size: 0.83vw;
  display: flex;
  align-items: center;
  background-color: hsl(168, 32%, 18%);
  color: #ffffff;
}

.breaking_news_date:hover {
  background-color: #18cfab;
}

.section_what_peaple_say {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  width: 100%;
  height: 853px;
  background-image: url(../img/Sectionsbackground/section-3.jpg);
  background-size: cover;
  background-position: bottom;
}

.what_people_say_header {
  color: #ffffff;
  margin-top: 5.1vw;
}

.quotes {
  margin-top: 5.15vw;
}

.feedback {
  display: none;
}

.feedback_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60.41vw;
}

.feedback_qoute {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #bbbbbb;
  width: 60.41vw;
  height: 5.2vw;
  margin-top: 1.9vw;
}

.feedback_people_name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  margin-top: 1.92vw;
}

.feedback_people_occupation {
  font-weight: 300;
  font-size: 13px;
  color: #bbbbbb;
  line-height: 27px;
}

.feedback_image {
  display: block;
  width: 166px;
  height: 166px;
  border-radius: 50%;
}

.feedback_big_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1.92vw;
  height: 166px;
  width: 166px;
  cursor: pointer;
}

.div_for_border_opacity {
  position: absolute;
  height: 166px;
  width: 166px;
  border-radius: 50%;
  border: 12px solid #18cfab;
  opacity: 0.2;
  box-sizing: content-box;
}

.carousel {
  position: relative;
  width: 483px;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
.carousel_move_button {
  text-align: center;
  width: 31px;
  height: 31px;
  border: 1px solid #bbbbbb;
  color: #bbbbbb;
  cursor: pointer;
  padding: auto;
  font-size: 20px;
  line-height: 29px;
}

.carousel_move_button:hover {
  background-color: #18cfab;
  color: #ffffff;
}

.feedback_small_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.div_for_small_icon_border_opacity {
  display: flex;
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 6px solid #18cfab;
  opacity: 0.2;
  box-sizing: content-box;
}

.carousel_icon {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.carousel_icon_active {
  bottom: 10px;
}

.opacity_pulse {
  opacity: 0.2;
}

.gallery_of_best_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  width: 100%;
  margin-top: 5.1vw;
}

.gallery_of_best_images_header {
  color: #4e4e4e;
  margin-bottom: 5.99vw;
}
.masonry_container {
  width: 1200px;
  margin: auto;
}

.galery_images_grid {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
}
.galery_images {
  margin-bottom: 20px;
  max-width: fit-content;
  height: fit-content;
  display: block;
}

.galery_images_more_inactive {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6.3vw;
  background: #22353f;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #aeaeae;
}

.footer_ham_color {
  color: #18cfab;
}

/* Loader */

.lds-roller {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #18cfab;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-roller-active {
  display: block;
  margin-bottom: 5.76vw;
  margin-top: 2.76vw;
}
