body {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

.star_wars {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #feda4a;
  display: flex;
  justify-content: center;
  text-align: center;
  left: 25%;
  width: 50%;
  height: 500px;
  position: relative;

  transform: perspective(300px) rotateX(45deg);
}

.scroll {
  top: 110%;
  position: absolute;
  width: 60%;
  animation-name: scroll_text;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 15s;
}

@keyframes scroll_text {
  0% {
    top: 100%;
  }

  100% {
    top: -270%;
    opacity: 0;
  }
}

.logo2 {
  display: flex;
  width: 100%;
  position: absolute;

  justify-content: center;
  animation-name: logo2;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes logo2 {
  0% {
    opacity: 0;
    /* top: 50%; */
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    /* top: 100%; */
  }
}
