body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.star_wars {
  background-color: blue;
  display: flex;
  justify-content: center;
  color: beige;
  font-size: 20px;
  left: 25%;
  width: 50%;
  height: 400px;
  perspective: 200px;
  position: relative;
  top: 20%;
  /* transform-origin: left 0px; */
  /* transform: rotateX(45deg); */
  /* transform: perspective(300px) rotatex(45deg); */
  /* transform: perspective(500px); */
  /* overflow: hidden; */
  /* animation-play-state: paused; */
}

.scroll {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  top: 50%;
  margin-left: 20px;
  position: relative;
  background-color: chartreuse;
  /* transform: perspective(300px) rotateX(25deg);  */
  /* perspective: 200px; */
  transform: rotateX(25deg);
  animation-name: scroll_text;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* transform: rotateX(35deg); */
}

/* @keyframes scroll_text {
  0% {
    top: 50%;
    opacity: 1;
  }

  100% {
    top: -150%;
    opacity: 0;
  }
} */
