body,
html {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

.star_wars {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: #feda4a;
  position: absolute;
  width: 100%;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  text-align: center;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}

#scroll {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 1s infinite;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
