* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
}

@import './layout/header';
@import './layout/intro_image';
@import './layout/recent_posts';
@import './layout/instagram';
@import './layout/footer';

