*,
*::after *::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
  width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.company_logo {
  font-family: "Roboto", sans-serif;
  font-style: regular;
  font-size: 80px;
  margin-top: 63px;
  width: 300px;
  color: lightskyblue;
}

.company_logo :visited {
  color: lightskyblue;
}

.company_logo_color {
  color: black;
}

.navigation_panel {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #35444f;
  color: #ffffff;
  margin-top: 38px;
  margin-bottom: 48px;
  padding: 0px;
}

.navigation_item {
  align-items: center;
  padding: 26px 32px 19px 32px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.navigation_panel :hover {
  background-color: black;
}

.navigation_item_link {
  font-family: "Roboto", sans-serif;
  font-style: regular;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

.sidebar_picture_text {
  display: flex;
  flex-direction: row;
  width: 1280px;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 399px;
  margin-right: 52px;
}

.aside_bar {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: regular;
  font-size: 27px;
  color: #485863;
  border: 1px solid #000000;
  padding: 0px;
  margin: 0px;
}

.aside_bar_item {
  padding-left: 44px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 0px;
  line-height: 27px;
}
.aside_bar_ramda {
  font-style: bold;
  /* padding-left: 54px; */
}

.aside_bar :visited {
  color: #485863;
}

.aside_bar :hover {
  background-color: gray;
  font-weight: bold;
  left: -10px;
}

.picture_content_box {
  display: flex;
  flex-direction: column;
}

.picture_container {
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  width: 885px;
  height: 529px;
}

.image {
  margin: auto;
}

.image:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

.paragraph {
  width: 885px;
  margin: 0px;
}

.paragraph1_text,
.paragraph2_text {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-style: regular;
  font-size: 18px;
  color: #2c2c2c;
  height: 109px;
}

.paragraph1_text {
  margin-top: 37px;
  margin-bottom: 34px;
}
.paragraph2_text {
  margin-top: 0px;
  margin-bottom: 54px;
}

.footer_container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(99, 105, 110, 0.48);
  color: #010101;
  font-size: 28px;
  height: 69px;
}

.footer_panel {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 135px 20px 40px;
  width: 875px;
  font-family: "Roboto", sans-serif;
  font-style: regular;
  color: #010101;
  padding: 0px;
}

.footer_panel :visited {
  color: #010101;
}

.footer_item :hover {
  color: cadetblue;
  text-decoration: underline;
}

.copyright {
  display: flex;
  flex-direction: row;
  width: 190px;
  height: 69px;
  margin-right: 40px;
}

.copyright_item {
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: regular;
  color: #010101;
  margin: 0px;
}
