.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 250px;
  height: 350px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.likeButton {
  background: unset;
  border: unset;
  outline: none;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  // margin: 10px 0 26px;
  margin-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  // overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.itemAvatar {
  height: 150px;
  width: 100%;
  height: 70%;
  max-width: 100%;
  // margin-bottom: 5px;
  border-radius: 10px;
}

.description {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  // overflow: hidden;
  margin-bottom: 10px;
  // text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  // position: absolute;
  bottom: 0;
  left: 0;
  // transform: translateY(92px);
  // transition: transform 0.15s ease-out;
  // z-index: 2;
}

.card:hover {
  box-shadow: 0 0 10px 4px rgba(34, 60, 80, 0.5);

  .description {
    opacity: 0.3;
  }

  .btnContainer {
    transform: translateY(0);
  }
}

.price {
  font-size: 12px;
  font-weight: 700;
  margin-right: 20px;
}
