*,
*::after *::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  width: 1900px;
  height: 70px;
  background-color: #313131;
  align-items: center;
  text-decoration: none;
  margin: 0px;
}

.company_logo_link {
  display: flex;
  flex-direction: row;
  width: 188px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  justify-content: flex-start;
  padding: 0;
}

.image_logo {
  margin: 22px 27px 21px 29px;
}

.company_name {
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 22px;
}

.main_navigation_links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 722px;
  height: 22px;
  color: #ffffff;
  padding: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 477px;
  margin-right: 445px;
  text-decoration: none;
}

.navigation_item_link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.main_navigation_links :visited {
  color: #ffffff;
}

.main_navigation_links :hover {
  color: #14b9d5;
}

.search_button {
  width: 68px;
  height: 70px;
  background-color: #000000;
  color: #ffffff;
  font-size: 22px;
  margin: auto;
}

.pseudo_search_button {
  margin: 27px 26px 26px 26px;
}

.header_block {
  width: 1900px;
  height: 369px;
  display: flex;
  position: relative;
  background: url(../images/header-bg.jpeg);
  background-attachment: fixed;
  /* justify-content: center; */
}

.site_content_items_list {
  display: flex;
  height: 50px;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* position: absolute; */

  /* background-color: #89ca62; */
}

.site_content_item {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
  color: #000000;
}

.toggle_section_button {
  background-color: #353a3d;
  color: #ffffff;
  visibility: visible;
  /* text-transform: uppercase; */
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  height: 50px;
  width: 200px;
  opacity: 0;
  position: fixed;
  bottom: 100px;
  left: 20px;
}

.go_back_button {
  background-color: #353a3d;
  color: #ffffff;
  visibility: visible;
  /* text-transform: uppercase; */
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  height: 50px;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.parallax {
  background: url(../images/header-bg.jpeg);
  background-attachment: fixed;
  height: 100vh;
}
.header {
  width: 637px;
  height: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 27px;
  position: absolute;
  top: 164px;
  left: 658px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0px;
}

.header_block_link_1 {
  width: 170px;
  height: 55px;
  position: absolute;
  top: 240px;
  left: 797px;
  background-color: #89ca62;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  line-height: 54px;
}

.header_block_link_2 {
  display: block;
  width: 170px;
  height: 55px;
  position: absolute;
  top: 240px;
  left: 987px;
  background-color: #14b9d5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  line-height: 54px;
}

.first_info_block {
  width: 1900px;
  height: 1030px;
  background: #f2f2f2;
  margin: 0px;
  position: relative;
}

.first_info_block_header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
  color: #18b4cf;
  text-align: center;
  margin: 0px;
  padding-top: 49px;
}

.first_info_block {
  list-style: none;
}

.first_info_block_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  align-content: space-between;
  width: 1170px;
  height: 860px;
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.first_info_block_item {
  align-self: flex-start;
  width: 370px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  margin-bottom: 32px;
  text-align: center;
  margin: 0px;
  margin-bottom: 28px;
}

.first_info_block_link {
  text-decoration: none;
}

.first_info_block_link:visited {
  color: #353a3d;
}

.Item_description {
  margin: 0px;
  line-height: 61px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #353a3d;
}

.clients_list_section {
  position: relative;
  width: 1900px;
  height: 588px;
}

.parallax2 {
  background: url(../images/parallax-bg.jpeg);
  background-attachment: fixed;
  height: 40vh;
}
.clients_list_header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 106px;
  left: 702px;
  margin: 0px;
}

.clients_list_header::after {
  content: "";
  background: #18b4cf;
  height: 1px;
  display: block;
  width: 60px;
  margin-top: 87px;
}

/* HOW TO CENTER THE LINE??? */

.clients_list {
  width: 882px;
  height: 63px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 56px;
  /* align-content: center; */
  position: absolute;
  top: 340px;
  left: 510px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.clients_list_item {
  margin-top: 20px;
  align-content: center;
}

/* HOW TO CENTER LOGO PICTURES??? */

.top_rated {
  width: 1900px;
  height: 326px;
}

.top_rated_header {
  font-family: Open Sans;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  padding-top: 49px;
  margin-top: 0px;
  margin-bottom: 52px;
}

.top_rated_list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.news_section {
  width: 1900px;
  height: 1683px;
  display: block;
}

.news_section_header {
  font-family: Open Sans;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  padding-top: 49px;
  margin-top: 0px;
  margin-bottom: 52px;
}

.horizontal_news_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 35px;
  width: 1168px;
  height: 259px;
  list-style: none;
  padding: 0;
  margin: auto;
  grid-template-areas:
    "item1  item2"
    "item7  item8";
}

.item1 {
  display: flex;
  grid-area: item1;
  width: 856px;
  height: 259px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  align-items: center;
  text-align: right;
}

.item2 {
  grid-area: item2;
  width: 277px;
  height: 259px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.vertical_news_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 44px;
  column-gap: 60px;
  width: 1168px;
  height: 882px;
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: 44px;
  margin-bottom: 44px;
  grid-template-areas:
    "item3 item4"
    "item5 item6";
}

.item3 {
  grid-area: item3;
  width: 554px;
  height: 418px;
  align-items: center;
  text-align: right;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.item4 {
  grid-area: item4;
  width: 554px;
  height: 418px;
  align-items: center;
  text-align: right;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.item5 {
  grid-area: item5;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.item6 {
  grid-area: item6;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.item7 {
  grid-area: item7;
  width: 277px;
  height: 259px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.item8 {
  grid-area: item8;
  display: flex;
  width: 856px;
  height: 259px;
  background-color: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  align-items: center;
  text-align: right;
}

.news_item_info {
  padding-right: 24px;
  padding-left: 24px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.news_item_header {
  margin-bottom: auto;
  margin-top: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
}

.news_item_header:visited {
  color: #353a3d;
}

.news_item_header_link {
  text-decoration: none;
}

.footer_bar {
  display: grid;
  /* grid-template-columns: 1fr, 1fr; */
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 50%, 50%; */
  height: 80px;
  width: 1900px;
  grid-template-areas: "item9 item10";
  /* justify-items: center; */
  align-items: center;
  margin: 0px;
  background-color: #000000;
}

.item9 {
  grid-area: item9;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-align: center;
  width: 512px;
  height: 21px;
  color: #ffffff;
  margin-left: 367px;
}
.item10 {
  grid-area: item10;
  color: #ffffff;
}

.copyright {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.link_to_architect {
  text-decoration: none;
}

.link_to_architect:visited {
  color: #ffffff;
}

.developer_link {
  display: flex;
  align-items: flex-start;
  margin-left: 470px;
  margin-right: 186px;
  width: 105px;
  height: 24px;
}
