.card {
  display: flex;
  // flex-direction: row;
  // align-items: center;
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  height: 60px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 15px;
  // background-color: antiquewhite;
  // opacity: 60%;
}

.likeButton {
  display: flex;
  background: unset;
  border: unset;
  outline: none;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.title {
  display: flex;
  font-weight: 600;
  color: rgb(32, 36, 32);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  // margin-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  // overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.itemAvatar {
  width: 60px;
  height: 60px;
  // max-width: 100%;
  // margin-bottom: 10px;
  // border-radius: 10px;
}

.purchaseData {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(138, 133, 133, 0.4);
  // padding: 10px 0;
}

.description {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  display: -webkit-box;
  // overflow: hidden;
  // margin-bottom: 10px;
  // text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 92px;
  // position: absolute;
  // float: right;
  // bottom: 0;
  // left: 0;
  // transform: translateY(92px);
  // transition: transform 0.15s ease-out;
  // z-index: 2;
}

.card:hover {
  box-shadow: 0 0 10px 4px rgba(34, 60, 80, 0.5);

  .description {
    opacity: 0.9;
  }

  .btnContainer {
    transform: translateY();
  }
}

.price {
  font-size: 12px;
  font-weight: 700;
  margin-right: 20px;
}
