.blocks {
	list-style: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 46px 32px;

}

.list {
	list-style: none;
	width: 100%;
	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	// gap: 46px 32px;
}

.cardsContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
}

.switchToListStyleBtn {
	float: left;
	margin-left: 40px;
	padding: 20px 40px;
   
  }
  