@import '../abstracts/mixins';


.header__button {
    @include buttons;
    flex-direction: column;
}


.header__button_line {
    width: 17px;
    height: 2px;
    background-color: #fff;
    margin: 2px auto;
}


.header__button-close {
    color: #fff;
    font-size: 25px;
}

.header__button__close_sign {
    margin: auto;
}

.header__button-not-active {
    display: none;
}
