* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/sw.jpg");
  background-size: contain;
  border: 2px solid grey;
  margin: 20px;
  /* background-color: aliceblue; */
  padding: 5px;
  border-radius: 10px;
  width: 30%;
}

#film-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: yellow;
  text-align: center;
}

.episode {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
  margin-top: 30px;
  /* padding: 10px 0px; */
  text-align: center;
  color: white;
}

#openingCrawl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  padding: 20px 10px;
  text-align: justify;
  color: white;
}
#characters-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  color: yellow;
}
#character {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 5px;
  color: white;
  list-style: none;
  text-align: center;
}

.loader {
  position: absolute;
  top: 30px;
  /* margin-top: 15px; */
  width: 85px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: linear-gradient(orange 50px, transparent 0),
    linear-gradient(orange 50px, transparent 0),
    linear-gradient(orange 50px, transparent 0),
    linear-gradient(orange 50px, transparent 0),
    linear-gradient(orange 50px, transparent 0),
    linear-gradient(orange 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center,
    60px center, 75px center, 90px center;
  animation: rikSpikeRoll 1s linear infinite alternate;
}
@keyframes rikSpikeRoll {
  0% {
    background-size: 10px 3px;
  }
  16% {
    background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
  }
  33% {
    background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px,
      10px 3px;
  }
  50% {
    background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px,
      10px 3px;
  }
  66% {
    background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px,
      10px 3px;
  }
  83% {
    background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px,
      10px 3px;
  }
  100% {
    background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px,
      10px 50px;
  }
}

.hidden {
  display: none;
}
