.btn {
  align-self: center;
  // display: flex;
  // position: relative;
  top: 80vh;
  height: 15vh;
  width: 17vw;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 50%;
  font-size: 1.8rem;
  border: none;
  color: #fff;
  background: rgb(151, 26, 26);
  transition: all 0.25s ease;
  box-shadow: -3px 3px rgb(192, 38, 38), -2px 2px rgb(151, 26, 26),
    -1px 1px rgb(151, 26, 26);

  &:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);

    background: #ff3e4e;
  }
}
