* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  background-color: darkcyan;
  font-family: sans-serif;
  color: brown;
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid red;
  background-color: blanchedalmond;
  box-shadow: 10px 5px 5px brown;
  border-radius: 5px;
  padding: 5px;
}
.game-name {
  padding: 5px;
  margin: 0px;
}
.difficulty {
  margin-left: 200px;
}

.difficulty-btn {
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid brown;
  border-radius: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-active {
  background-color: red;
  color: bisque;
}

.start {
  background-color: beige;
  display: flex;
  align-items: center;
  padding: 20px;
}
.start-btn {
  margin-left: 5px;
  width: 300px;
}
.counter {
  display: flex;
}
.member {
  display: flex;
  margin-left: 100px;
  font-family: sans-serif;
  font-size: 18px;
}
.points__ann,
.points__agmess {
  font-size: 20px;
}

table {
  width: 100%;
  height: 80vh;
}
.field-item {
  background-color: rgb(157, 155, 160);
  height: 8vh;
  border-radius: 20px;
}

.field-item__backgr {
  /* display: flex; */
  /* width: 100%;
  height: 100%; */
  border: 1px solid rgb(139, 58, 58);
  border-radius: 20px;
  background-position-y: -20px;
  background-size: cover;
  background-image: url(../pictures/Dog.JPG);
}

.field-item__backgr1 {
  /* display: flex; */
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-position-y: -10px;
  background-size: cover;
  background-image: url(../pictures/Dog.JPG);
}
