@mixin buttons {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 37px;
    width: 44px;
}

@mixin position {
    max-width: 100vw;
    padding-left: 7.81vw;
    padding-right: 8.77vw;
}
