
.pageContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.buyNowNtn {
  width: 200px;
  padding: 15px;
  transition: all 0.25s ease;
  &:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: rgb(73, 73, 126);
  }
}




















// .App {
//   font-family: sans-serif;

//   main {
//     display: flex;
//   }

//   // h1,
//   // h2 {
//   //   font-weight: 400;
//   //   font-size: 26px;
//   //   line-height: 32px;
//   //   width: 100%;
//   //   text-align: center;
//   //   // margin-bottom: 40px;
//   //   // margin-top: 40px;
//   //   // padding-top: 40px;
//   // }
// }

// .leftContainer,
// .rightContainer {
//   box-sizing: border-box;
//   padding: 24px;
// }

// .leftContainer {
//   flex: 3;
// }

// .rightContainer {
//   flex: 1;
//   // border-left: 5px solid black;
// }

// // .form {
// //   display: flex;
// //   justify-content: center;
// //   padding: 50px 24px;
// //   margin-left: 40px;

// // }
